@font-face {
	font-family: 'brandon grotesque';
	src: url('fonts/brandon-grotesque-medium-webfont.woff2') format('woff2'),
		 url('fonts/brandon-grotesque-medium-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'brandon grotesque';
	src: url('fonts/brandon-grotesque-bold-webfont.woff2') format('woff2'),
		 url('fonts/brandon-grotesque-bold-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
/*body {
	font-family: 'brandon grotesque';
}*/
