.container {
	width: 960px;
	max-width: 100vw;
	padding: 40px;
}

p {
	font-size: 2em;
	margin-bottom: 1em;
}

.bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 20px;
	background: red;
}