html {
	font-family: 'Futura', 'Helvetica', sans-serif;
	-webkit-font-smoothing: antialiased;
}
body {
	margin: 0;
}

.main {
	max-width: 1200px;
	margin: 0 auto;
	font-size: 2em;
}
p, img {
	margin-bottom: 1em;
	margin-top: 0;
}
p:last-child, img:last-child {
	margin-bottom: 0;
}

img:not([src]) {
    visibility: hidden;
    margin-bottom: 0;
}

.header {
	background-color: purple;
	padding: 1rem;
	color: #fff;
	font-size: 0.75em;
}

.hero {
	/*height: 0;*/
	/*padding-bottom: 35%;*/
	height: 40vh;
	background-image: linear-gradient(30deg, lightblue, pink);
	font-size: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	margin-bottom: 0.25em;
}

.ancillary {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1em;
	position: relative;
}
.ancillary__item {
	width: 100%;
	font-size: 0.5em;
}
.ancillary__image {
	font-size: 100px;
	text-align: center;
}
.ancillary__description {

}


.loader,
.loader:after {
	border-radius: 50%;
	width: 10em;
	height: 10em;
}
.loader {
	grid-column: 5 / 1;
	margin: 60px auto;
	font-size: 10px;
	position: relative;
	text-indent: -9999em;
	border-top: 1.1em solid rgba(175, 175, 175, 0.2);
	border-right: 1.1em solid rgba(175, 175, 175, 0.2);
	border-bottom: 1.1em solid rgba(175, 175, 175, 0.2);
	border-left: 1.1em solid lightblue;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}


















