body {
	height: 1000vh;
}
.ball {
	position: absolute;
	height: 40px;
	width: 40px;
	border-radius: 100%;
	background-image: radial-gradient(ellipse farthest-corner at 25% 25%, rgba(255,255,255,0.8) 0%, transparent 20%), linear-gradient(130deg, transparent 20%, rgba(0,0,0,0.7) 85%);
	background-position: 50% 50%, 50% 50%;
	background-size: 100%, 100%;
	background-repeat: no-repeat, no-repeat;
	background-color: red;
}